@media only screen and (min-width: 32.5em) {
    .pagetitle {
        color: white;
        text-align: center;
        font-size: 3em;
        padding: 30px 0 0 180px;
    }
    .headline {
        border-bottom: 2px solid black;
        padding: 10px 10px 10px 10px;
        margin: 10px 15px 0 15px;
        font-size: 1.5em;
    }
    header, footer {
        background-color: #0E3B43;
        border-radius: 24px;
    }
    .photo-id {
        width: 190px;
        height: auto;
        float: right;
        padding: 10px 15px 0 0;
    }
    header {
        height: 150px;
    }
    
    footer {
        height: 90px;
    }
}