@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@900&family=Open+Sans&display=swap');

body {
    background-color: #EBF2FA;
}

#content {
    max-width: 960px;
    background-color: #EBF2FA;
    line-height: 1.5;
    padding: 0 10px 0 10px;
    margin: auto;
}

.pagetitle {
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin: auto;
}

.photo-id {
    width: 190px;
    height: auto;
}

h1, h2 {
    font-family: 'Montserrat Alternates', Arial Black, fantasy;
}

p {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

li{
    font-family: 'Open Sans', Helvetica, sans-serif;
}

header, footer {
    background-color: #0E3B43;
}

#info {
    font-size: 1em;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 25px 0 0 0;
    margin-bottom: 0;
}

#update-message {
    font-size: .8em;
    text-align: center;
    color: white;
    padding: 0;
    margin-top: 0;
}

header {
    height: auto;
}

footer {
    height: auto;
}

.headline {
    border-bottom: 2px solid black;
    padding: 10px 10px 10px 10px;
    margin: 10px 15px 0 15px;
    font-size: 1em;
}

.footer-link{
    color: white;
}
