@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@900&family=Open+Sans&display=swap');

body {
    background-color: #EBF2FA;
    line-height: 1.5;
    padding: 0 10px 0 10px;
}

.pagetitle {
    color: white;
    text-align: center;
    font-size: 3em;
    padding: 30px 0 0 180px;
}

.photo-id {
    width: 190px;
    float: right;
    padding: 10px;
    margin-right: 5px;
}

h1 {
    font-family: 'Montserrat Alternates', Arial Black, fantasy;
    font-size: 1.5em;
}

p {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

li{
    font-family: 'Open Sans', Helvetica, sans-serif;
}

header, footer {
    background-color: #0B5351;
    border-radius: 24px;
}

#info {
    font-size: 1em;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 25px 0 0 0;
    margin-bottom: 0;
}

#update-message {
    font-size: .8em;
    text-align: center;
    color: white;
    padding: 0;
    margin-top: 0;
}

header {
    height: 150px;
}

footer {
    height: 90px;
}

.headline {
    border-bottom: 2px solid black;
    padding: 10px 10px 10px 10px;
    margin: 10px 15px 0 15px;
}
