@media only screen and (min-width: 64em){
/*---------------- NAVIGATION BAR -----------------------*/
    #navbar li a {
        font-size: 1.5em;
    }

/*-------------------- weather info box ----------------*/
    div.all-days {
        grid-template-columns: 150px 150px 150px;
        padding: 0;
        margin: 0;
    }

    section.forecast{
        width: 450px;
    }

/*----------------------- events box ---------------------*/
    div.events {
        float:none;
        max-width: 1000px;
    }

/*-------------------------- local business ----------------*/
    div.business section {
        width: 960px;
        margin: 2%;
    }

    
/*---------------------- contact info box --------------*/
    section.info-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items:flex-end;
    }

    div.social-media img.facebook, img.instagram, img.twitter {
        width: 80px;
        padding-right: 30px;
    }

    div.gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
