@media only screen and (min-width: 32.5em){
/*---------------- NAVIGATION BAR -----------------------*/
    nav button {
        display: none;
    }
    nav ul.responsive{
        display: block;
    }
    div.nav-box {
        grid-column: 2/2;
        background-color: #426a5a;
        align-content: center;
        justify-content: center;
        padding: 2% 0 0 0;
    }
  
    #navbar{
        display: flex;
     }
     
     #navbar li{
        display: block;
        flex: 1 1 auto;
     }

/*------------------- HOME PAGE ---------------------------*/

/*--------------- weather box -------------------------*/
    .weather-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

/*----------------------- events box ---------------------*/
    div.events {
        float:right;
        max-width: 250px;
    }

/*-------------------------- local business ----------------*/
    div.placeholder {
        max-width: 300px;
    }


/*------------------------- UBERLANDIA PAGE-----------------------*/
    div.gallery {
        display: grip;
        grid-template-columns: 300px 300px;
    }
    
    div.img-box  img{
        width: 300px;
    }    
}