/* @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Lato&display=swap'); */

/*--------------------- GENERAL STYLING ------------------*/
main {
  max-width: 1000px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel Decorative', 'Arial Black', 'cursive';
  color: #426a5a;
}

p {
  font-family: 'Lato', Helvetica, 'sans-serif';
  color: #111;
}

/*------------------------- HEADER ----------------------*/
header{
  background-color: #426a5a;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 1fr;
}

header aside {
  width: 100px;
  height: auto;
  grid-column: 1/1;
  margin: 0;
  padding: 0;
}

header img.logo{
  width: 150px;
  height: auto;
  padding: 0;
  margin: 0;
}

/*---------------- NAVIGATION BAR -----------------------*/
nav button{
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #fff;
  margin: .2rem 2%;
}

nav #navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li a{
	display: none;
}


#navbar li a {
  display: block;
	color: #fff;
	padding: 0.75rem;
	text-decoration: none;
  border-top: 1px solid rgba(66, 106, 90,.8);
	font-size: 0.95rem;
  font-family: 'Lato', Helvetica, 'sans-serif';
}

#navbar a:hover{
  background-color: #7fb685;
  font-weight: 700;
}

#navbar a.active {
  color: #f2c57c;
  font-weight: 700;
}

nav ul.responsive{
  display: none;
}

/*------------------ PLACEHOLDER ---------------------------*/
div.placeholder{
  max-width: 960px;
  height: 300px;
  background-color: lightgray;
  border: grey;
  border-style: dashed;
  margin: 1%;

}

/*------------------------ FOOTER ----------------------*/
footer{
  background-color: #7fb685;
  color: #fff;
  text-align: center;
}

#info{
  padding-bottom: 0;
  margin-bottom: 0;
  color: #fff;
}

#update-message{
  padding-top: 0;
  margin-top: 0;
  color: #fff;
}

/*------------------------ INDEX PAGE -------------------*/
h1.page-title {
  text-align: center;
  font-size: 3em;
  padding-left: 2% 0;
}

div.herobox {
  max-width: 1000px;
}

div.herobox img{
  width: 100%;
}

article.purpose h2{
  text-align: center;
  font-size: 2em;
  background-color: #7fb685;
  font-weight: bolder;
  color: #fff;
}

article.purpose p{
  line-height: 1.5em;
  font-size: 1em;
  text-align: justify;
}

/*----------- weather summary ----------------------------*/

section.weather-summary {
  max-width: 200px;
  background-color: rgba(239, 111, 108, .9);
  margin-top: 2rem;
  padding: 1.5rem;
  box-shadow: 0 0 30px #f2c57c;
}

section.weather-summary h3 {
  font-weight: bold;
}

section.weather-summary p {
  color: #fff;
  font-weight: 800;
}

section.weather-summary span{
  color: #426a5a;
  font-weight: 800;
}

section.weather-summary span#description {
  text-transform: capitalize;
}

/*----------------------- forecast ---------------------------*/
section.forecast {
  width: 300px;
}

section.forecast h3 {
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}

div.all-days {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}

section.forecast p {
  text-align: center;
  background-color: #ef6f6c;
  padding: 5%;
  border-right: 1px solid #f2c57c;
}

section.forecast img {
  display: block;
  margin: auto;
}

/*---------------------------- events ------------------- */
div.events {
  background-color: #7fb685;
  border: #426a5a;
  border-style: double;
  box-shadow: 5px 5px 3px #426a5a;
  text-align: center;
}

div.events h3 {
  color: #fff;
  font-weight: bold;
}

/*----------------------------- call to action --------------*/
article.call-to-action{
  text-align: center;
}

article.call-to-action h3 {
 font-weight: bold;
 background-color: #7fb685;
 color: #fff;
}

article.call-to-action p {
  font-size: 1.2em;
}

article.call-to-action a {
  padding: 5px 10px;
  background-color: #426a5a;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  border-radius: 6px;
}

article.call-to-action a:hover {
  background-color: #7fb685;
}

/*-------------------------- contact info ------------------*/
section.info-box {
  background-color: lightgray;
  padding: 2rem;
}

div.social-media img.facebook, img.instagram, img.twitter {
  width: 50px;
}

/*-------------------------- business card ------------------*/
div.business section {
  width: 300px;
  box-shadow: 5px 5px 5px lightgray;
  padding: 1%;
}

div.business section h2, div.business section p {
  text-align: center;
}

/*------------------------- UBERLANDIA PAGE-----------------------*/
div.galerry {
  display: grip;
  grid-template-columns: 1fr;
}
 
div.img-box  img{
  width: 300px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
