@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Roboto:wght@300&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bowlby One SC', 'Arial Black', fantasy;
    color: #EC368D;
}

p {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    background-color: white;
}

header, footer {
    background-color: #3C91E6;
}

.principlebox1, .principlebox2, .principlebox3 {
    width: 320px;
    border-radius: 3px;
    padding: 10px;
    margin: auto;
    box-shadow: 1px 1px 4px 1px #888;
}

.come-unto-christ-img, .vaio-img, .samsung-img {
    width: 320px;
    height: auto;
    padding: 5px;
}

header h1 {
    color: white;
}
.principle-name{
    text-align: center;
    padding: 10px;
}

.website-name {
    padding: 10px;
}

.website-link {
    padding: 10px;
}

.principle-description{
    text-align: justify;
    padding: 10px;
}

.principlebox1 {
    grid-column: 1/2;
}
.principlebox2 {
    grid-column: 2/3;
}
.principlebox3 {
    grid-column: 3/4;
}