@media only screen and (min-width: 64em){
    .navbar li a{
        padding: .6rem 1rem;
    }
    .mottophrase{
        text-align: center;
    }

    img{
        width: 90px;
        padding: 10px 5px 10px 5px;
    }

    .heroimage{
        width: 100%;
        height: auto;
    }

    .pagetitle{
        font-size: 40px;
    }
    
    /*This is the Gallery */
    .content{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .caption-text{
        display: block;
    }

    .picture-box:hover{
        box-shadow: 6px 5px 5px #ccc;
    }
}