@media only screen and(min-width:64em){
    .navbar li a{
        padding: .6rem 1rem;
    }
    .mottophrase{
        text-align: center;
    }

    img{
        width: 130px;
    }

    .pagetitle{
        font-size: 30px;
    }
}
