@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Raleway:wght@500&display=swap');
body{
    max-width: 760px;
    margin: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Coda Caption', 'Arial Black', fantasy;
    color: #001B2E;
}

p{
    font-family: 'Raleway', Helvetica, sans-serif;
    color: black;
}

header{
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #89bbfe;
}

img{
    width: 70px;
    padding-right: 5px;
}

nav{
    margin: 0;
    max-width: 760px;
    background-color: rgba(181, 131, 141, .6);
    padding: 0;
}

.navbar{
    list-style: none;
    padding: 0;
    font-family:'Raleway', Helvetica, sans-serif;
}

.navbar li:first-child{
    display: block;
}

.navbar li{
    display: none;
}

.navbar a{
    display: block;
    padding: .75rem;
    text-align: left;
    text-decoration: none;
    color: #001b2e;
    font-weight: 700;
    font-size: 15px;
}

.navbar li a:hover{
    background-color: rgba(181, 131, 141,.8);
    color: white;
}

.responsive li{
    display: block;
}

footer{
    background-color: #89bbfe;
    font-size: .8em;
    text-align: center;
}

#info{
    padding-bottom: 0;
    margin-bottom: 0;
}

#footerdate{
    padding-top: 0;
    margin-top: 0;
}

.pagetitle{
    padding-bottom: 0;
    margin-bottom: 0;
}

.mottophrase{
    padding-top: 0;
    margin-top: 0;
    font-size: .8em;
    font-style: italic;
}

.contentbox{
    border: grey;
    border-width: .3em;
    border-style:dashed;
    padding: 10px;
    margin: 10px;
    background-color: lightgrey;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-style: italic;
    color: grey;
}

.headings{
    padding-bottom: 20px;
}