@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Raleway:wght@500&display=swap');
body{
    max-width: 760px;
    margin: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Coda Caption', Arial Black, fantasy;
    color: #001B2E;
}

p{
    font-family: 'Raleway', Helvetica, sans-serif;
    color: black;
}

header{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

img{
    width: 80px;
    padding-right: 5px;
}

nav{
    margin: 0 auto;
    max-width: 760px;
    background-color: #B5838D;
}

.navbar{
    list-style: none;
    padding: 0;
}

.navbar li:first-child{
    display: block;
}

.navbar li{
    display: none;
}

.navbar a{
    display: block;
    padding: 0.75em;
    text-align: left;
    text-decoration: none;
    color: #001B2E;
    font-weight: 700;
}

a:hover{
    color:  #ACEDFF;
    background-color: #001B2E;
}
header, footer{
    background-color: #89BBFE;
}

.pagetitle{
    font-size: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.headings{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.mottophrase{
    padding: 0;
    margin: 0;
    text-align: center;
}

.responsive li{
    display: block;
}
#info{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

#footerdate{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}