@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Raleway:wght@500&display=swap');
body{
    max-width: 1000px;
    margin: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Coda Caption', Arial Black, fantasy;
    color: #001B2E;
}

p{
    font-family: 'Raleway', Helvetica, sans-serif;
    color: black;
}

header{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

img{
    width: 130px;
    padding-right: 20px;
}

nav{
    display: flex;
    margin: auto;
    align-content: center;
    background-color: #B5838D;
}

.navbar li{
    list-style-type: none;
}

header, footer{
    background-color: #89BBFE;
}

.pagetitle{
    font-size: 40px;
}


