@media only screen and (min-width: 64em){
    .navbar li a{
        padding: .6rem 1rem;
    }
    .mottophrase{
        text-align: center;
    }

    img{
        width: 90px;
        padding: 10px 5px 10px 5px;
    }

    .pagetitle{
        font-size: 40px;
    }

/*---------HERO IMAGE BOX---------------*/
    .herobox {
        margin: 10px auto;
        position: relative;
    }
    .heroimage{
        width: 100%;
    }



/*-----------CONTACT INFORMATION BOX--------*/
    .contact-info{
        width: 960px;
        height: 300px;
        padding: 20px;
    }
    
    .map{
        padding-right: 60px;
        display: block;
    }
    .map-img{
        float: left;
        width: 400px;
        height: auto;
        padding-right: 20px;
    }
    .icon{
        width: 60px;
        height: auto;
    }
    .contact-info h3{
        font-size: 1.2em;
    }
        
    .contact-info p{
        font-size: 1.2em;
    }

}
