@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Raleway:wght@500&display=swap');
main, footer{
    max-width: 760px;
    margin: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Coda Caption', 'Arial Black', fantasy;
    color: #001B2E;
}

p{
    font-family: 'Raleway', Helvetica, sans-serif;
    color: black;
}

header{
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #89bbfe;
}

img{
    width: 60px;
    padding-right: 5px;
}

nav button{
    background-color:transparent;
    border: none;
    font-size: 1.6rem;
    color: #001B2E;
    margin: .2rem 2%;
}

nav{
    margin: 0 auto;
    background-color: rgba(181, 131, 141, .6);
    padding: 0;
    font-family:'Raleway', Helvetica, sans-serif;
}

#navbar{
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar li a{
    display: block;
    padding: .8rem 2%;
    color: #001b2e;
    border-top: 1px solid rgba(181, 131, 141,.8);
    text-decoration: none;
    font-weight: 500;
}

#navbar li.active a{
    background-color: rgba(181, 131, 141,.5); 
    color: white;
}

#navbar li a:hover{
    background-color: rgba(181, 131, 141,.8);
    color: white;
}

footer{
    background-color: #89bbfe;
    font-size: .8em;
    text-align: center;
}

#info{
    padding-bottom: 0;
    margin-bottom: 0;
}

#footerdate{
    padding-top: 0;
    margin-top: 0;
}

.pagetitle{
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
}

.mottophrase{
    padding-top: 0;
    margin-top: 0;
    font-size: .8em;
    font-style: italic;
}

.contentbox{
    border: grey;
    border-width: .3em;
    border-style:dashed;
    padding: 10px;
    margin: 10px;
    background-color: lightgrey;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-style: italic;
    color: grey;
}

.headings{
    padding-bottom: 20px;
}

main h2{
    text-align: center;
}

nav ul.responsive{
    display: none;
}

.main-heading{
    font-size: 2em;
}

/*This is the Hero Image box*/
.herobox {
    margin: 10px auto;
    position: relative;
}

/*This is the 5 day Forecast */
.forecast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    border: 1px solid #001B2E;
}

.day1, .day2, .day3, .day4, .day5{
    margin: 0;
    padding: 0;
    display: block;
}

.forecast p{
    margin: 0;
    padding: 0;
    text-align: center;
}

.forecast img{
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
}

.summary{
    position: absolute;
    top: 25px;
    left: 50px;
    background-color: #001B2E;
    border: 1px solid #001B2E;
    padding: 1.5rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;
}

.summary h3 {
    margin: 0;
    text-align: center;
    color: white;
    border-bottom: 3px solid #ccc;
}
.summary p {
    margin: 0;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    color: white;
}

.summary span{
    color: yellow;
    padding-left: 5px;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
