/*This is the Index Page */
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Raleway:wght@500&display=swap');

body{
    max-width: 760px;
    margin: auto;
}

header{
    background-color: #001b2e;
    font-family: 'Coda Caption', 'Arial Black', fantasy;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

header h1{
    margin-top: 0;
}

header h3{
    padding-left: 0;
    margin-bottom: 0;
}

.pagetitle{
    font-size: 20px;
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
    color: white;
}

.student-id{
    padding-top: 0;
    margin-top: 0;
    font-size: 15px;
    color: white;
}

.primarynav{
    margin: 0 auto;
    padding: 0;
    font-family: 'Raleway', Helvetica, sans-serif;
    background-color: #89bbfe;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    text-decoration: none;
    display: block;
    color: #001b2e;
    padding: 5px;
    font-size: 20px;
    margin-top: 0;
}

nav ul li a:hover{
    color: white;
    background-color: #001b2e;
    opacity: .9;
}

p{
    font-family: 'Raleway', Helvetica, sans-serif;
    padding: 5px 10px 5px 10px;
    text-align: justify;
    font-size: 1em;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Coda Caption', 'Arial Black', fantasy;
    color: #001b2e;
    padding-left: 10px;
}

img{
    width: 150px;
    padding-left: 10px;
}

.pagename{
    text-align: center;
    font-size: 2em;
}


/*This the Target Audience page */
.target-questions, .persona-info, .scenarios{
    font-family: 'Raleway', Helvetica, sans-serif;
    text-align: justify;
    padding-right: 20px;
    line-height: 1.5em;
}

/*This is the Color Scheme page */
.colorpalette{
    width: 700px;
    height: auto;
}

.siteheader{
    padding-bottom: 0;
    margin-bottom: 0;
}

.headercolor{
    font-size: 1em;
    background-color: #89bbfe;
    padding-left: 20px;
}

.headingscolor{
    background-color: #001B2E;
    color: white;
}

.coloredparagraph{
    background-color: #B5838D;
    color: white;
}

.colorbody{
    padding-bottom: 60px;
}

.navcolor{
    background-color:  rgba(181, 131, 141, .6);
}

.navcolor li a:hover {
    background-color: rgba(181, 131, 141,.8);
    color: white;
}

/*This is the Typography */
.headerfont, .paragraphfont{
    font-size: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
}